@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
* {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}